body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #0d1117;
    color: white;
}

/* NAV */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #161b22;
}

nav a {
    margin: 0 10px;
    color: #58a6ff;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h2 {
    font-size: 50px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #58a6ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.card {
    background: #161b22;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* SKILLS */
.skill {
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

.bar {
    background: #333;
    height: 10px;
    border-radius: 5px;
}

.bar div {
    background: #58a6ff;
    height: 10px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    padding: 20px;
    background: #161b22;
}
